  <!-- INFORMATIQUE SKILLS -->
  <div id="anchor_skills" class="skills_paragraph">
    <h2 class="titles">Compétences</h2>

    <div class="container">

      <div class="row all_row_skills">

        <div class="div_coding_skills col-sm-12 col-md-3">
<!--           <#%= image_tag 'codingskills.png', width: 75, height: 75, class: "image_coding"%> -->
          <h3 class="skills-title">Développement Web</h3>
          <div class="all_coding_skills">
            <div class="first_flex_tool">
              <%= image_tag 'ruby.png', width: 75, height: 75%>
              <%= image_tag 'rails-logo.png', width: 75, height: 75%>
            </div>
            <div class="second_flex_tool">
              <%= image_tag 'image HTML logo.png', width: 75, height: 75%>
              <%= image_tag 'logo CSS image.png', width: 75, height: 75%>
            </div>
            <div class="third_flex_tool">
              <%= image_tag 'javascript.png', width: 75, height: 75%>
              <%= image_tag 'github-logo.png', width: 75, height: 75%>
            </div>
            <div class="fourth_flex_tool">
              <%= image_tag 'bootstrap.png', width: 75, height: 75%>
              <%= image_tag 'heroku.png', width: 75, height: 75%>
            </div>
          </div>
        </div>

        <div class="div_other_skills col-sm-12 col-md-3">
<!--           <#%= image_tag 'tools_logo.png', width: 100, class: "image_coding"%> -->
          <h3 class="skills-title">Outils Informatiques</h3>
          <div class="all_other_skills">
            <div class="first_flex_tool flex_tool_other">
              <%= image_tag 'hubspot 2.png', width: 75, height: 75%>
              <%= image_tag 'logo_salesforce.png', width: 75, height: 75%>
              <%= image_tag 'pack_office_logo.png', width: 75, height: 75%>
            </div>
            <div class="second_flex_tool flex_tool_other">

              <%= image_tag 'kantar.png', width: 75, height: 75%>
              <%= image_tag 'nielsen.png', width: 75, height: 75%>
            </div>
            <div class="second_flex_tool flex_tool_other">
              <%= image_tag 'logo_IRI.png', width: 120, height: 75%>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

