<div class= "home-container">
  <!-- NAVBAR -->
  <%= render "navbar" %>

  <!-- HOME CONTENT : PHOTO, ABOUT ME, ADJECTIVES -->
  <%= render "home_content" %>

  <!-- LANGUAGES SECTION -->
  <%= render "languages" %>

  <div class="photo_separator1"></div>


  <!-- LANGUAGES SECTION -->
  <%= render "coding_skills" %>

  <div class="photo_separator2"></div>



  <%= render "experiences" %>

  <div class="photo_separator3"></div>

  <!-- MY PROJECTS -->
  <%= render "my_projects" %>


  <!-- EDUCATION -->
  <%= render "education" %>

  <!-- CONTACT ME -->
  <div id="anchor_contact_me" class="contact_me_paragraph">
    <h2 class="titles">Contact me</h2>
    <%= form_for @contact do |f|  %>
      <div class="section_form">
        <%= f.label :name %><br>
        <%= f.text_field :name, required: true %>
      </div>

      <br>

      <div class="section_form">
        <%= f.label :email %><br>
        <%= f.text_field :email, required: true %>
      </div>

      <br>

      <div class="section_form message">
        <%= f.label :message %><br>
        <%= f.text_field :message, as: :text %>
      </div>

      <div class="hidden">
        <%= f.label :nickname %><br>
        <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>

      <div class="section_form contact-button">
        <%= f.submit 'Send Message', class: "button btn btn-default" %>
      </div>
    <% end %>
  </div>

  <h5 class="test-active">Helloooo</h5>

  <!-- FOOTER -->
  <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/daniaaf"><i class="fab fa-github" target=_blank></i></a>
    <a href="https://www.linkedin.com/in/dania-aflak/" target=_blank><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Website designed and developed by Dania Aflak
  </div>
</div>
</div>

