<div class= "home-container">
  <!-- NAVBAR -->
  <%= render "navbar" %>

  <!-- HOME CONTENT : PHOTO, ABOUT ME, ADJECTIVES -->
  <%= render "home_content" %>

  <!-- LANGUAGES SECTION -->
  <%= render "languages" %>

  <div class="photo_separator1"></div>


  <!-- LANGUAGES SECTION -->
  <%= render "coding_skills" %>

  <div class="photo_separator2"></div>



  <%= render "experiences" %>

  <!-- MY PROJECTS -->
  <div class="projects_paragraph">
    <h2 class="titles">My projects</h2>
    <div class="cards container">
      <div class="row">
        <div class="card-category col-sm-6" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          GreenGuide
        </div>

        <div class="card-category col-sm-6" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
          Rent Your Skate
        </div>
      </div>
    </div>
  </div>

  <!-- EDUCATION -->
  <div class="education_paragraph">
    <h2 class="titles">Education</h2>
    <section id="timeline">
      <% @educations.each do |education| %>
        <div class="tl-item">
<!--           <div class="tl-bg" style="background-image: url(<#%= image_path "#{education.photo}" %>)">
          </div> -->
          <div class="tl-year">
            <p class="f2 heading--sanSerif"><%= education.dateend %></p>
          </div>
          <div class="tl-content">
            <h1 class="f3 text--accent ttu"><%= education.school %></h1>
            <h2><%= education.diploma %></h2>
            <p> <%= simple_format(education.description) %> </p>
          </div>
        </div>
      <% end %>
    </section>
  </div>

  <!-- CONTACT ME -->
  <div class="contact_me_paragraph">
    <h2 class="titles">Contact me</h2>
  </div>

  <!-- FOOTER -->
  <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/daniaaf"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/dania-aflak/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Website designed and developed by Dania Aflak
  </div>
</div>
</div>

