<div class= "home-container">
  <!-- NAVBAR -->
<!--   <#%= render "navbar" %> -->

  <!-- HOME CONTENT : PHOTO, ABOUT ME, ADJECTIVES -->
  <%= render "home_content" %>

  <!-- LANGUAGES SECTION -->
  <%= render "languages" %>

  <div class="photo_separator1"></div>


  <!-- LANGUAGES SECTION -->
  <%= render "coding_skills" %>

  <div class="photo_separator2"></div>



  <%= render "experiences" %>

  <div class="photo_separator3"></div>

  <!-- MY PROJECTS -->
  <%= render "my_projects" %>


  <!-- EDUCATION -->
  <%= render "education" %>

  <!-- CONTACT ME -->

  <%= render "contact_me" %>


  <!-- FOOTER -->
  <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/daniaaf"><i class="fab fa-github" target=_blank></i></a>
    <a href="https://www.linkedin.com/in/dania-aflak/" target=_blank><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Website designed and developed by Dania Aflak
  </div>
</div>
</div>

