<div class= "home-container">
  <!-- NAVBAR -->
  <%= render "navbar" %>

  <!-- HOME CONTENT : PHOTO, ABOUT ME, ADJECTIVES -->
  <%= render "home_content" %>

  <!-- LANGUAGES SECTION -->
  <%= render "languages" %>

  <div class="photo_separator1"></div>


  <!-- LANGUAGES SECTION -->
  <%= render "coding_skills" %>

  <div class="photo_separator2"></div>



  <%= render "experiences" %>

  <!-- MY PROJECTS -->
  <%= render "my_projects" %>


  <!-- EDUCATION -->
  <div class="education_paragraph">
    <h2 class="titles">Education</h2>
    <section id="timeline">
      <% @educations.each do |education| %>
        <div class="tl-item">
          <div class="tl-bg" style="background-image: url(<%= image_path "#{education.photo}" %>)">
          </div>
          <div class="tl-year">
            <p class="f2 heading--sanSerif"><%= education.dateend %></p>
          </div>
          <div class="tl-content">
            <h1 class="f3 text--accent ttu"><%= education.school %></h1>
            <h2><%= education.diploma %></h2>
            <p> <%= simple_format(education.description) %> </p>
          </div>
        </div>
      <% end %>
    </section>
  </div>

  <!-- CONTACT ME -->
  <div class="contact_me_paragraph">
    <h2 class="titles">Contact me</h2>
    <%= form_for @contact do |f|  %>
      <div class="section_form">
        <%= f.label :name %><br>
        <%= f.text_field :name, required: true %>
      </div>

      <br>

      <div class="section_form">
        <%= f.label :email %><br>
        <%= f.text_field :email, required: true %>
      </div>

      <br>

      <div class="section_form message">
        <%= f.label :message %><br>
        <%= f.text_field :message, as: :text %>
      </div>

      <div class="hidden">
        <%= f.label :nickname %><br>
        <%= f.text_field :nickname, hint: 'leave this field blank' %>
      </div>

      <div class="section_form">
        <%= f.submit 'Send Message', class: "button" %>
      </div>
    <% end %>
  </div>

  <!-- FOOTER -->
  <div class="footer">
  <div class="footer-links">
    <a href="https://github.com/daniaaf"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/dania-aflak/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Website designed and developed by Dania Aflak
  </div>
</div>
</div>

